{% block nav %}
	<div
		class="product-box"
		data-name="{{ name }}"
		data-amount="{{ amount }}"
		data-value="{{ value }}"
	>
		<div class="product-image">
			<img src="{{ asset(imageName) }}" alt="">
		</div>

		<div class="product-details">
			<p>
				{{ name }}
				<br>
				{{ amount }}
				<br>
				{{ value }}
			</p>
		</div>
	</div>
{% endblock %}
