<!DOCTYPE html>
<html lang="nl-NL">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Seven Arts{% endblock %}</title>
				<link rel="icon" type="image/x-icon" href="{{ asset('images/7-arts-icon.png') }}">
        {% block stylesheets %}
        {% endblock %}

				{% block js_router %}
					<script>
						window.routes = {
							'app.widget.verifyCode': '{{ path('app.widget.verifyCode') }}',
							'app.widget.cart.getContent': '{{ path('app.widget.cart.getContent') }}',
							'app.widget.cart.payNow': '{{ path('app.widget.cart.payNow') }}',
							'app.widget.cart.addToTab': '{{ path('app.widget.cart.addToTab') }}',
							'app.widget.tab.getTabs': '{{ path('app.widget.tab.getTabs') }}',
						};
					</script>
				{% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="main-bg-image {% block body_class %}{% endblock %}">
        {% block body %}{% endblock %}
    </body>
</html>

